<h1>Clients</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.name, client %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
