<h1>Clients</h1>

<p><%= link_to 'New', new_client_path %></p>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @clients.each do |client| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to client.name, client %></td>
  </tr>
<% end %>
</table>
