<h1>Projects for <%= link_to @client.name, @client %></h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to project.title, [@client, project] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_client_project_path(@client) %>
