<ol class="path">
  <li><%= link_to 'Clients', clients_path %></li>
  <li><%= link_to @client.name, @client %></li>
  <li><%= link_to 'Projects', client_projects_path(@client) %></li>
</ol>

<h1>New Project</h1>

<%= render 'form' %>
