<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<%= link_to 'Edit', edit_client_project_path(@client, @project) %> |
<%= link_to 'Back', client_projects_path(@client) %>
